body {
	background-image: url("../../Images/homePageBackground.jpg");
	position:relative;
/*	top:100px;
	left:600px; */
	max-width: 100%;
    height: auto;
    background-color:#bebdc7;
	background-repeat:no-repeat;
	background-position: right;
	background-size:cover;
}

.saved-cities-box{
	background-color:  rgba(62,60, 67, .5);
	color: white;
	width: 1600px;
	margin-left:12px;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	border-radius: 12px;
	

}

table{
	width: 100%;
}

.choosingWrapper{
	padding: 10px;
	border: solid 5px white;
	border-radius: 5px;
}
.saved-cities {
	background-color: rgba(62, 60, 67, .5);
	color:white;
	margin-right: 10px;
}

.saved-cities th {
	background-color: white;
	color: rgba(62, 60, 67, .5);
}

h3 {
	color: white;
	margin-top:20px;
	margin-bottom:20px;
}

button:hover {
	transform: scale(1.2);
}

.search-cities-button {
	color: black;
	font-weight: bold;
	font-size: 20px;
	border-radius: 12px;
	padding-bottom:30px;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	background-color: rgba(255,255,255,.5);
	margin-left: 20px;
	margin-top: 50px;
}

button {
	margin-top: 1px;
}

.search-category-button {
	background-color: rgba(255,255,255,.5);
}

.search-cities-button:hover {
	cursor: pointer; 
	transform: scale(1.1);
}

.search-category-button:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.scroll {
	position: relative;
	height: 400px;
	overflow: auto;
}

.scroll-div {
	top:-10px;
	right: 210px;
	overflow: auto;
	height: 400px;
	margin-top:16px;
	width: 100%;
}

.selected-city {
	background-color: rgba(62, 60, 67, .5);
	border-radius: 3px;
	width: 60%;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 160px;
	border-radius: 12px;

}

.category-title {
	text-align: center; 
	margin-right: 360px;
	margin-bottom: 30px;
}
/*  Results Tables */

.restaurant-table,
.hospital-table,
.schools-table,
.weather-table {
	background-color: rgba(62, 60, 67, .5);
	color:white;
	text-align: center;

}

.restaurant-table th,
.hospital-table th,
.schools-table th ,
.weather-table th{
	background-color: white;
	color: rgba(62, 60, 67, .5);
	width: 110px;
	

}
